<header>
  <h1>Shops</h1>
</header>

<section id="shops">
  <% @shops.each do |shop| %>
    <%= render shop %>
    <p>
      <%= link_to "Show this shop", shop %>
    </p>
  <% end %>
</section>

<%= link_to "New shop", new_shop_path %>
