<header>
  <h1>Editing department</h1>
</header>

<article>
  <%= render "form", department: @department %>
</article>

<br>

<div>
  <%= link_to "Show this department", @department %> |
  <%= link_to "Back to departments", departments_path %>
</div>
