<header>
  <h1>Editing brand</h1>
</header>

<article>
  <%= render "form", brand: @brand %>
</article>

<br>

<div>
  <%= link_to "Show this brand", @brand %> |
  <%= link_to "Back to brands", brands_path %>
</div>
