<header>
  <h1>Editing product</h1>
</header>

<article>
  <%= render "form", product: @product %>
</article>

<br>

<div>
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
</div>
